@media (min-width:320px) and (max-width: 720px) {
    .nav-item a{
        font-size: 20px;
        text-transform: uppercase;
    }
    .card-text-main{
        width: 100%;
    }
    
    
}

@media (min-width:720px) and (max-width: 1280px) {
    .card-text-main{
        width: 90%;
        margin-left: 1.5rem;
        
    }
    .nav-item a{
        font-size: 18px;
        text-transform: uppercase;
    }
    .cards-with-text{
        display: flex;
        justify-content: center;
    }
}