.carousel {
	margin: 30px auto 60px;
	padding: 0 80px;
	height: auto !important;
}

.carousel .carousel-item {
	text-align: center;
	overflow: hidden;
}

.carousel .carousel-item h4 {
	font-family: 'Varela Round', sans-serif;
}

.carousel .carousel-item img {
	max-width: 100%;
	display: inline-block;
}

.carousel .carousel-item .btn {
	border-radius: 0;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	border: none;
	background: #F19324;
	padding: 6px 15px;
	margin-top: 5px;
}

.carousel .carousel-item .btn:hover {
	background: #f98500;
}

.carousel .carousel-item .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}

.carousel .thumb-wrapper {
	margin: 5px;
	text-align: left;
	background: #fff;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.carousel .thumb-content {
	padding: 15px;
	font-size: 13px;
}

.carousel-control-prev,
.carousel-control-next {
	height: 44px;
	width: 44px;
	background: none;
	margin: auto 0;
	border-radius: 50%;
	border: 3px solid rgba(0, 0, 0, 0.8);
}

.carousel-control-prev i,
.carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: none;
	font-weight: bold;
}

.carousel-control-prev i {
	margin-left: -3px;
}

.carousel-control-next i {
	margin-right: -3px;
}

.carousel-indicators {
	bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 4px;
	border: none;
}

.carousel-indicators li {
	background: #ababab;
}

.carousel-indicators li.active {
	background: #555;
}


.carousel .thumb-content {
	background-color: rgb(240, 240, 240);
	max-height: 150px;
	border-top: #F19324 solid 2px;
}

.img-box {
	max-height: 650px;
}

.carousel-control-prev,
.carousel-control-next {
	height: 44px;
	width: 44px;
	background: #F19324;
	margin: auto 0;
	border-radius: 50%;
	border: 0;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}

.img-responsive {
	width: 100%;
	height: auto;
}

@media (min-width: 992px) {
	.carousel-inner .active.left {
		left: -25%;
	}

	.carousel-inner .next {
		left: 25%;
	}

	.carousel-inner .prev {
		left: -25%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.carousel-inner .active.left {
		left: -33.3%;
	}

	.carousel-inner .next {
		left: 33.3%;
	}

	.carousel-inner .prev {
		left: -33.3%;
	}

	.active>div:first-child {
		display: block;
	}

	.active>div:first-child+div {
		display: block;
	}

	.active>div:last-child {
		display: none;
	}
}

@media (max-width: 767px) {
	.carousel-inner .active.left {
		left: -100%;
	}

	.carousel-inner .next {
		left: 100%;
	}

	.carousel-inner .prev {
		left: -100%;
	}

	.active>div {
		display: none;
	}

	.active>div:first-child {
		display: block;
	}
}

.box {
	width: auto;
	height: 650px;
	background-color: #fff;
	;
	border-radius: 10px !important;

}